@import '../../../styles/variables';

.countdown-timer {
  & > svg {
    display: inline;
    z-index: 99;
    & > .counter-segment {
      animation: dash 1s linear forwards;
      &.alert-primary {
        stroke: $orange;
      }
    }
    & > .chart-text {
      fill: #000;
      -moz-transform: translateY(0.25em);
      -ms-transform: translateY(0.25em);
      -webkit-transform: translateY(0.25em);
      transform: translateY(0.25em);
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
