@import '../../../styles/variables';

.dropdown {
  display: inline-block;

  &.dropup {
    > .ips-dropdown-menu {
      top: auto !important;
      bottom: 100% !important;
      margin-top: 0 !important;
    }
  }
}

.ips-dropdown-menu {
  display: inline-block !important;
  margin-bottom: 4px !important;
  margin-top: 4px;
  &.dropdown-menu {
    width: 100%;
    min-width: 200px;
    border-radius: 3px;

    &.dropdown-menu-end {
      position: absolute;
      right: 0 !important;
      left: auto !important;
    }
  }

  & > .dropdown-item {
    height: 36px;
    cursor: pointer;
    display: flex;
    padding-left: 12px;
    padding-right: 0;

    &:hover {
      background-color: $orange-lighter;
    }

    &:focus {
      background-color: $orange-lighter;
    }

    &.active {
      background-color: $orange-lighter;
      color: $orange;

      & > .dropdown-item-left {
        & > i {
          color: $orange;
        }
      }
    }

    & > .dropdown-item-left {
      width: 1.75rem;
      text-align: left;
    }

    & > .dropdown-item-right {
      padding-bottom: 1.75rem;
      border-bottom: 1px solid $gray-40;
      flex: 0 0 36px;
      float: right;
      text-align: center;
      padding-right: 12px;
      color: $gray-200;
    }

    & > .dropdown-item-label {
      padding-bottom: 1.75rem;
      border-bottom: 1px solid $gray-40;
      flex: 1;
    }

    & > .dropdown-item-state {
      padding-bottom: 1.75rem;
      padding-left: 0;
      padding-right: 12px;
      border-bottom: 1px solid $gray-40;
      flex: 0 0 16px;
      text-align: center;
      color: $gray-200;
    }
  }

  & > .dropdown-item-no-matches {
    height: 36px;
    cursor: default;
    padding-top: 8px;

    &:hover,
    &:focus,
    &.active {
      color: $gray-800;
      background-color: $white;
    }
  }

  & > .dropdown-header {
    text-transform: uppercase;
    padding-left: 36px;
    padding-top: 12px;
    padding-bottom: 0;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 0.3px;
    color: $gray-800;
  }
  ::-webkit-scrollbar-thumb {
    background: $gray-40;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background: $gray-20;
  }
}

.dropdown-trigger {
  &.disabled {
    border: solid 1px $gray-40;
    background-color: $gray-20;
    pointer-events: none;
  }
}

.input-group-text {
  background-color: transparent;
  padding: 0 12px;
}
