@import '../../../styles/variables';

.ips {
  &.avatar {
    background-color: $gray-200;
    border-radius: 50%;
    font-size: $font-size-base;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  &.sm {
    font-size: $font-size-base * 0.875;
    height: 24px;
    width: 24px;
  }
  &.md {
    font-size: $font-size-base;
    height: 36px;
    width: 36px;
  }
  &.lg {
    font-size: $font-size-base * 1.5;
    height: 48px;
    width: 48px;
  }
  & > .initials {
    color: $white;
  }
}
