.toast {
  margin-bottom: 8px;
  max-width: 350px;
  > .toast-heading {
    margin-bottom: 0.3rem;
  }
  & .btn-dismiss {
    position: absolute;
    right: 16px;
    top: 16px;
    background: white;
    border: 0;
  }
  & .alert-icon {
    width: 28px;
    margin-top: -1px;
  }
}
