@import '../../../styles/variables';

.spinner {
  & > .spinner-basic-style {
    position: relative;
  }
  & > .spinner-basic-style-sm {
    height: 16px;
    width: 16px;
  }
  & > .spinner-basic-style-md {
    height: 44px;
    width: 44px;
  }
  & > .spinner-basic-style-lg {
    height: 72px;
    width: 72px;
  }
  & > .spinner-default {
    display: inline-block;
    vertical-align: text-bottom;
    -webkit-animation: spinner-border 1s linear infinite;
    animation: spinner-border 1s linear infinite;
    &.spinner-basic-style-sm {
      border: 2px solid;
      border-right: 0.25em solid transparent;
      border-radius: 50%;
    }
    &.spinner-basic-style-md {
      border: 4px solid;
      border-right: 0.25em solid transparent;
      border-radius: 50%;
    }
    &.spinner-basic-style-lg {
      border: 6px solid;
      border-right: 0.25em solid transparent;
      border-radius: 50%;
    }
  }
  & > .spinner-dots {
    -webkit-animation: spinner-dot-rotate 1s 0s infinite linear;
    animation: spinner-dot-rotate 1s 0s infinite linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    & > .spinner-style {
      border-radius: 100%;
    }
    & > .spinner-style-sm {
      height: 3px;
      width: 3px;
      margin: 3px;
    }
    & > .spinner-style-md {
      height: 12px;
      width: 12px;
      margin: 6px;
    }
    & > .spinner-style-lg {
      height: 24px;
      width: 24px;
      margin: 6px;
    }
    & > .spinner-dot-1 {
      background-color: $orange-dark;
      position: absolute;
      top: 0;
      bottom: auto;
    }
    & > .spinner-dot-2 {
      background-color: $orange;
      position: absolute;
      top: auto;
      bottom: 0;
    }
    & > .spinner-dot-3 {
      background-color: $orange-light;
      position: absolute;
      right: 0;
      top: auto;
      bottom: 0;
    }
    & > .spinner-dot-4 {
      background-color: $orange-lighter;
      position: absolute;
      right: 0;
      top: 0;
      bottom: auto;
    }
    @-webkit-keyframes spinner-dot-rotate {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes spinner-dot-rotate {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}
