@import '../../../styles/variables';

.file-input {
  position: relative;
}

.custom-file-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

input.file {
  width: 100%;
  position: relative;
  text-align: right;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
}

.input-group-text {
  background: white;
}
