@import '../../../styles/variables';

// from Popover.vue
.vc-popover-content-wrapper {
  --popover-horizontal-content-offset: 8px;
  --popover-vertical-content-offset: 4px !important; // changed
  --popover-slide-translation: 15px;
  --popover-transition-time: 0.14s ease-in-out;
  --popover-caret-horizontal-offset: 18px;
  --popover-caret-vertical-offset: 8px;

  position: absolute;
  display: block;
  outline: none;
  z-index: 10;
  &:not(.is-interactive) {
    pointer-events: none;
  }

  .vc-popover-content {
    position: relative;
    outline: none;
    z-index: 10;
    box-shadow: var(--shadow-lg);
    &.direction-bottom {
      margin-top: var(--popover-vertical-content-offset);
    }
    &.direction-top {
      margin-bottom: var(--popover-vertical-content-offset);
    }
    &.direction-left {
      margin-right: var(--popover-horizontal-content-offset);
    }
    &.direction-right {
      margin-left: var(--popover-horizontal-content-offset);
    }
  }

  .vc-popover-caret {
    content: '';
    position: absolute;
    display: none; // changed
    width: 12px;
    height: 12px;
    border-top: inherit;
    border-left: inherit;
    background-color: inherit;
    z-index: -1;
    &.direction-bottom {
      top: 0;
      &.align-left {
        transform: translateY(-50%) rotate(45deg);
      }
      &.align-center {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
      &.align-right {
        transform: translateY(-50%) rotate(45deg);
      }
    }
    &.direction-top {
      top: 100%;
      &.align-left {
        transform: translateY(-50%) rotate(-135deg);
      }
      &.align-center {
        transform: translateX(-50%) translateY(-50%) rotate(-135deg);
      }
      &.align-right {
        transform: translateY(-50%) rotate(-135deg);
      }
    }
    &.direction-left {
      left: 100%;
      &.align-top {
        transform: translateX(-50%) rotate(135deg);
      }
      &.align-middle {
        transform: translateY(-50%) translateX(-50%) rotate(135deg);
      }
      &.align-bottom {
        transform: translateX(-50%) rotate(135deg);
      }
    }
    &.direction-right {
      left: 0;
      &.align-top {
        transform: translateX(-50%) rotate(-45deg);
      }
      &.align-middle {
        transform: translateY(-50%) translateX(-50%) rotate(-45deg);
      }
      &.align-bottom {
        transform: translateX(-50%) rotate(-45deg);
      }
    }
    &.align-left {
      left: var(--popover-caret-horizontal-offset);
    }
    &.align-center {
      left: 50%;
    }
    &.align-right {
      right: var(--popover-caret-horizontal-offset);
    }
    &.align-top {
      top: var(--popover-caret-vertical-offset);
    }
    &.align-middle {
      top: 50%;
    }
    &.align-bottom {
      bottom: var(--popover-caret-vertical-offset);
    }
  }

  .fade-enter-active,
  .fade-leave-active,
  .slide-fade-enter-active,
  .slide-fade-leave-active {
    transition: all var(--popover-transition-time);
    pointer-events: none;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .slide-fade-enter,
  .slide-fade-leave-to {
    opacity: 0;
    &.direction-bottom {
      transform: translateY(calc(-1 * var(--popover-slide-translation)));
    }
    &.direction-top {
      transform: translateY(var(--popover-slide-translation));
    }
    &.direction-left {
      transform: translateX(var(--popover-slide-translation));
    }
    &.direction-right {
      transform: translateX(calc(-1 * var(--popover-slide-translation)));
    }
  }

  // from base.css
  .vc-container {
    --white: #ffffff;
    --black: #000000;

    --gray-100: $gray-100;
    --gray-200: #edf2f7;
    --gray-300: #e2e8f0;
    --gray-400: #cbd5e0;
    --gray-500: #a0aec0;
    --gray-600: #718096;
    --gray-700: #4a5568;
    --gray-800: #172b4d; // changed
    --gray-900: #1a202c;

    --orange-100: #fffaf0;
    --orange-200: #feebc8;
    --orange-300: #fbd38d;
    --orange-400: #f6ad55;
    --orange-500: #ed8936;
    --orange-600: #f66a0a; // changed
    --orange-700: #c05621;
    --orange-800: #9c4221;
    --orange-900: #7b341e;

    &.vc-orange {
      --accent-100: var(--orange-100);
      --accent-200: var(--orange-200);
      --accent-300: var(--orange-300);
      --accent-400: var(--orange-400);
      --accent-500: var(--orange-500);
      --accent-600: var(--orange-600);
      --accent-700: var(--orange-700);
      --accent-800: var(--orange-800);
      --accent-900: var(--orange-900);
    }

    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 14px; //changed
    --text-lg: 18px;

    --leading-snug: 1.375;

    --rounded: 3px; // changed
    --rounded-lg: 3px; // changed
    --rounded-full: 9999px;

    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

    --slide-translate: 22px;
    --slide-duration: 0.15s;
    --slide-timing: ease;

    --day-content-transition-time: 0.13s ease-in;

    position: relative;
    display: inline-flex;
    width: max-content;
    height: max-content;
    font-family: inherit; // changed
    color: var(--gray-800); // changed
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--ips-gray-40); // changed
    border-radius: var(--rounded-lg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    &,
    & * {
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
    }
    & button,
    & [role='button'] {
      cursor: pointer;
    }
    &.vc-is-expanded {
      min-width: 100%;
    }
    /* Hides double border within popovers */
    & .vc-container {
      border: none;
    }

    // from CalendarPane.vue
    .vc-pane {
      min-width: 250px;
    }

    .vc-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 18px 10px 18px; // changed
      &.align-left {
        justify-content: flex-start;
      }
      &.align-right {
        justify-content: flex-end;
      }
    }

    .vc-title {
      font-size: var(--text-sm); // changed
      color: var(--gray-800); // changed
      font-weight: var(--font-semibold);
      line-height: 28px;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      &:hover {
        opacity: 0.75;
      }
    }

    .vc-weeks {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      position: relative;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      padding: 5px;
    }

    .vc-weekday {
      text-align: center;
      color: $gray-800;
      font-size: var(--text-sm);
      font-weight: var(--font-bold);
      line-height: 14px;
      padding-top: 4px;
      padding-bottom: 8px;
      cursor: default;
      user-select: none;
    }

    .vc-nav-popover-container {
      color: var(--white);
      font-size: var(--text-sm);
      font-weight: var(--font-semibold);
      background-color: $gray-200; // changed
      border: 1px solid;
      border-color: var(--gray-700);
      border-radius: var(--rounded-lg);
      padding: 4px;
      box-shadow: var(--shadow);
    }

    // from Calendar.vue
    .vc-pane-container {
      width: 100%;
      position: relative;
      &.in-transition {
        overflow: hidden;
      }
    }

    .vc-pane-layout {
      display: grid;
    }

    .vc-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;
      pointer-events: auto;
      color: var(--gray-600);
      border-width: 2px;
      border-style: solid;
      border-radius: var(--rounded);
      border-color: transparent;
      &:hover {
        background: var(--gray-200);
      }
      &:focus {
        border-color: var(--gray-300);
      }

      &.is-disabled {
        opacity: 0.25;
        pointer-events: none;
        cursor: not-allowed;
      }

      // changed
      > .vc-svg-icon {
        height: 18px;
        width: 18px;
        margin-bottom: 4px;
        margin-top: 4px;
      }
    }

    .vc-day-popover-container {
      color: var(--white);
      background-color: var(--gray-800);
      border: 1px solid;
      border-color: var(--gray-700);
      border-radius: var(--rounded);
      font-size: var(--text-xs);
      font-weight: var(--font-medium);
      padding: 4px 8px;
      box-shadow: var(--shadow);
    }

    .vc-day-popover-header {
      font-size: var(--text-xs);
      color: var(--gray-300);
      font-weight: var(--font-semibold);
      text-align: center;
    }

    .vc-arrows-container {
      width: 100%;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: space-between;
      padding: 8px 10px;
      pointer-events: none;
      &.title-left {
        justify-content: flex-end;
      }
      &.title-right {
        justify-content: flex-start;
      }
    }

    // from CalendarDay.vue
    .vc-day {
      position: relative;
      min-height: 32px;
      z-index: 1;
      &.is-not-in-month * {
        opacity: 0;
        pointer-events: none;
      }
    }

    .vc-day-layer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
    }

    .vc-day-box-center-center {
      display: flex;
      justify-content: center;
      align-items: center;
      transform-origin: 50% 50%;
    }

    .vc-day-box-left-center {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transform-origin: 0 50%;
    }

    .vc-day-box-right-center {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform-origin: 100% 50%;
    }

    .vc-day-box-center-bottom {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .vc-day-content {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--text-sm);
      font-weight: var(--font-medium);
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: var(--rounded-full);
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: var(--ips-primary); // changed
        color: white !important; // changed
      }
      &:focus {
        font-weight: var(--font-bold);
        background-color: var(--ips-primary); // changed
        color: white !important; // changed
      }
      &.is-disabled {
        color: var(--gray-400);
      }
    }

    .vc-highlights {
      overflow: hidden;
      pointer-events: none;
      z-index: -1;
    }

    .vc-highlight {
      width: 28px;
      height: 28px;
      &.vc-highlight-base-start {
        width: 50% !important;
        border-radius: 0 !important;
        border-right-width: 0 !important;
      }
      &.vc-highlight-base-end {
        width: 50% !important;
        border-radius: 0 !important;
        border-left-width: 0 !important;
      }
      &.vc-highlight-base-middle {
        width: 100%;
        border-radius: 0 !important;
        border-left-width: 0 !important;
        border-right-width: 0 !important;
        margin: 0 -1px;
      }
    }

    .vc-dots {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .vc-dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      transition: all var(--day-content-transition-time);
      &:not(:last-child) {
        margin-right: 3px;
      }
    }

    .vc-bars {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 75%;
    }

    .vc-bar {
      flex-grow: 1;
      height: 3px;
      transition: all var(--day-content-transition-time);
    }

    // from TimePicker
    .vc-time-picker {
      display: flex;
      align-items: center;
      padding: 8px;
      &.vc-invalid {
        pointer-events: none;
        opacity: 0.5;
      }
      &.vc-bordered {
        border-top: 1px solid var(--gray-400);
      }
    }

    .vc-date-time {
      margin-left: 8px;
    }

    .vc-time-icon {
      width: 16px;
      height: 16px;
      color: var(--gray-600);
    }

    .vc-date {
      display: none; // changed
      align-items: center;
      font-size: var(--text-sm);
      font-weight: var(--font-semibold);
      text-transform: uppercase;
      padding: 0 0 4px 4px;
      margin-top: -4px;
      & .vc-weekday {
        color: var(--gray-700);
        letter-spacing: var(--tracking-wide);
      }
      & .vc-month {
        color: var(--accent-600);
        margin-left: 8px;
      }
      & .vc-day {
        color: var(--accent-600);
        margin-left: 4px;
      }
      & .vc-year {
        color: var(--gray-500);
        margin-left: 8px;
      }
    }

    .vc-time {
      display: flex;
      align-items: center;
    }

    .vc-am-pm {
      display: flex;
      align-items: center;
      background: var(--gray-200);
      margin-left: 8px;
      padding: 4px;
      border-radius: var(--rounded);
      height: 30px;
      & button {
        color: var(--gray-900);
        font-size: var(--text-sm);
        font-weight: var(--font-medium);
        padding: 0 4px;
        background: transparent;
        border: 2px solid transparent;
        border-radius: var(--rounded);
        line-height: var(--leading-snug);
        &:hover {
          color: var(--gray-600);
        }
        &:focus {
          border-color: var(--accent-400);
        }
        &.active {
          background: var(--accent-600);
          color: var(--white);
          &:hover {
            background: var(--accent-500);
          }
          &:focus {
            border-color: var(--accent-400);
          }
        }
      }
    }

    // from CalendarNav.vue
    .vc-nav-header {
      display: flex;
      justify-content: space-between;
    }

    .vc-nav-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: var(--leading-snug);
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-radius: var(--rounded);
      &.is-left {
        margin-right: auto;
      }
      &.is-right {
        margin-left: auto;
      }
      &:hover {
        background-color: var(--gray-900);
      }
      &:focus {
        border-color: var(--accent-600);
      }
    }

    .vc-nav-title {
      color: var(--accent-100);
      font-weight: var(--font-bold);
      line-height: var(--leading-snug);
      padding: 4px 8px;
      border-radius: var(--rounded);
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      user-select: none;
      &:hover {
        background-color: var(--gray-900);
      }
      &:focus {
        border-color: var(--accent-600);
      }
    }

    .vc-nav-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 2px;
      grid-column-gap: 5px;
    }

    .vc-nav-item {
      width: 48px;
      text-align: center;
      line-height: var(--leading-snug);
      font-weight: var(--font-semibold);
      padding: 4px 0;
      cursor: pointer;
      border-color: transparent;
      border-width: 2px;
      border-style: solid;
      border-radius: var(--rounded);
      user-select: none;
      &:hover {
        color: var(--white);
        background-color: var(--gray-900);
        box-shadow: var(--shadow-inner);
      }
      &:focus {
        border-color: var(--accent-600);
      }
      &.is-active {
        color: $gray-800; // changed
        background: $white; // changed
        font-weight: var(--font-bold);
        box-shadow: var(--shadow);
      }
      &.is-current {
        color: var(--accent-100);
        font-weight: var(--bold);
        border-color: var(--accent-100);
      }
      &.is-disabled {
        opacity: 0.25;
        pointer-events: none;
      }
    }

    // from TimeSelect.vue
    .vc-select {
      position: relative;
      & select {
        flex-grow: 1;
        display: block;
        appearance: none;
        width: 52px;
        height: 30px;
        font-size: var(--text-base);
        font-weight: var(--font-medium);
        text-align: left;
        background-color: var(--gray-200);
        border: 2px solid;
        border-color: var(--gray-200);
        color: var(--gray-900);
        padding: 0 20px 0 8px;
        border-radius: var(--rounded);
        line-height: var(--leading-tight);
        text-indent: 0;
        cursor: pointer;
        -moz-padding-start: 3px;
        &:hover {
          color: var(--gray-600);
        }
        &:focus {
          outline: 0;
          border-color: var(--accent-400);
          background-color: var(--white);
        }
      }
    }
    .vc-select-arrow {
      display: flex;
      align-items: center;
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 0 4px 0 0;
      color: var(--gray-500);
      & svg {
        width: 16px;
        height: 16px;
        fill: currentColor;
      }
    }
  }
}
