@import '../../../styles/variables';

#sidebarContainer {
  min-height: 100vh;
  background-color: $gray-900;
  padding: 0;
  box-shadow: 0 0 12px 0 rgba(9, 30, 66, 0.2);
}
.sidebar-logo-expanded {
  height: 56px;
  & i {
    color: white;
    font-size: 46px;
    max-height: 32px;
  }
  & img {
    color: white;
    max-height: 46px;
  }
}
.sidebar-logo-collapsed {
  height: 56px;
  & i {
    color: white;
    font-size: 32px;
    max-height: 22px;
  }
  & img {
    color: white;
    max-height: 32px;
  }
}

/* Sidebar sizes when expanded and collapsed */
.sidebar-expanded {
  width: 200px;
}
.sidebar-collapsed {
  width: 48px;
}

/* Menu item*/
#sidebarContainer .list-group .list-group-item {
  padding-left: 17px;
  & .ips-icon {
    color: $gray-80;
    padding-right: 16px;
  }
}
#sidebarContainer .list-group a {
  height: 48px;
  color: $gray-80;
  background-color: $gray-900;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

/* Submenu item*/
#sidebarContainer .list-group .sidebar-submenu a {
  font-size: 0.9rem;
  padding-left: 44px;
  background-color: $gray-1000;
  text-align: left;
}
.activeItem {
  color: $white !important;
  background-color: $orange !important;
  & .ips-icon {
    color: $white !important;
    padding-right: 16px;
  }
}
