// Alert
.alert {
  color: $gray-800;
}

.alert-heading {
  font-weight: bold;
}

// Generate contextual modifier classes for colorizing the dismiss.

@each $state, $value in $theme-colors-light {
  .alert-#{$state} {
    background-color: $value;
  }
}
