// Base class
.badge {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  padding: 0 8px;
  letter-spacing: normal;
  line-height: 1.25rem;
  text-transform: none;
  vertical-align: baseline;
}

@each $color, $value in $theme-colors {
  .badge-#{$color}-solid {
    background-color: $value;
    color: $white;
  }
}

@each $color, $value in $theme-colors-light {
  .badge-#{$color}-subtle {
    background-color: $value;
    color: $secondary;
  }
}
