// stylelint-disable selector-no-qualifying-type

// Base styles
.btn {
  border-radius: 3px !important;
  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
}

.btn-primary {
  color: $white !important;
  background-color: $primary !important;
  border-color: $primary !important;
  &:hover,
  &.hover {
    background-color: $orange-dark !important;
    border-color: $orange-dark !important;
  }
  &:active,
  &.active {
    background-color: $orange-darker !important;
    border-color: $orange-darker !important;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px $orange-lighter !important;
  }
  &.disabled,
  &:disabled {
    background-color: $orange-light !important;
    border-color: $orange-light !important;
  }
}

.btn-secondary {
  color: $white !important;
  background-color: $secondary !important;
  border-color: $secondary !important;
  &:hover,
  &.hover {
    background-color: $gray-900 !important;
    border-color: $gray-900 !important;
  }
  &:active,
  &.active {
    background-color: $gray-1000 !important;
    border-color: $gray-1000 !important;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px $orange-lighter !important;
  }
  &.disabled,
  &:disabled {
    background-color: $gray-80 !important;
    border-color: $gray-80 !important;
  }
}

.btn-tertiary {
  color: $secondary !important;
  background-color: $white !important;
  border-color: $gray-40 !important;
  & i {
    color: $gray-200 !important;
  }
  &:hover,
  &.hover {
    color: $white !important;
    background-color: $gray-900 !important;
    border-color: $gray-900 !important;
    & i {
      color: $white !important;
    }
  }
  &:active,
  &.active {
    color: $white !important;
    background-color: $gray-1000 !important;
    border-color: $gray-1000 !important;
    & i {
      color: $white !important;
    }
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px $orange-lighter !important;
  }
  &.disabled,
  &:disabled {
    color: $gray-80 !important;
    border-color: $gray-30 !important;
    & i {
      color: $gray-60 !important;
    }
  }
}

.btn-minimal {
  color: $secondary !important;
  background-color: $white !important;
  border-color: $white !important;
  & i {
    color: $gray-200 !important;
  }
  &:hover,
  &.hover {
    background-color: $gray-10 !important;
    border-color: $gray-10 !important;
  }
  &:active,
  &.active {
    background-color: rgba($orange-lighter, 0.3) !important;
    border-color: rgba($orange-lighter, 0.3) !important;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px $orange-lighter !important;
  }
  &.disabled,
  &:disabled {
    color: $gray-80 !important;
    & i {
      color: $gray-60 !important;
    }
  }
}

.btn-success {
  color: $white !important;
  background-color: $green !important;
  border-color: $green !important;
  & i {
    color: $white !important;
  }
  &:hover,
  &.hover {
    background-color: $green-dark !important;
    border-color: $green-dark !important;
  }
  &:active,
  &.active {
    background-color: $green-darker !important;
    border-color: $green-darker !important;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px $orange-lighter !important;
  }
  &.disabled,
  &:disabled {
    background-color: $green-light !important;
    border-color: $green-light !important;
  }
}

.btn-danger {
  color: $white !important;
  background-color: $red !important;
  border-color: $red !important;
  & i {
    color: $white !important;
  }
  &:hover,
  &.hover {
    background-color: $red-dark !important;
    border-color: $red-dark !important;
  }
  &:active,
  &.active {
    background-color: $red-darker !important;
    border-color: $red-darker !important;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px $orange-lighter !important;
  }
  &.disabled,
  &:disabled {
    background-color: $red-light !important;
    border-color: $red-light !important;
  }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  color: $orange !important;
  text-decoration: none !important;
  padding-top: 0.188rem;
  padding-bottom: 0.188rem;

  &:hover,
  &.hover {
    color: $orange-dark !important;
  }
  &:active,
  &.active {
    color: $orange-darker !important;
    text-decoration: none !important;
  }
  &:focus,
  &.focus {
    color: $orange-darker !important;
  }
  &:disabled,
  &.disabled {
    color: $orange-light;
  }
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}

.btn-xs {
  @include button-size(
    $btn-padding-y-xs,
    $btn-padding-x-xs,
    $btn-font-size-xs,
    $btn-border-radius-xs
  );
}

.btn-xxs {
  @include button-size(
    $btn-padding-y-xss,
    $btn-padding-x-xss,
    $btn-font-size-xss,
    $btn-border-radius-xss
  );
}
