//############# Dropdown Menu ########################
.dropdown-toggle:hover {
  cursor: pointer;
}

.dropdown-menu {
  box-shadow: $dropdown-box-shadow;
}

table > thead > tr > th div.dropdown {
  a {
    text-decoration: none;
    color: $gray-800;
    font: $font-family-sans-serif;
    font-weight: 600;
  }
}

table thead tr th div.dropdown > a {
  font: $font-family-sans-serif;
}

table thead tr th div.dropdown a.dropdown-item {
  font: $font-family-sans-serif;
}

.navbar .dropdown-menu-right {
  right: 0;
  left: auto;
}

.nav-pills .nav-link {
  border-radius: 0;
}

//Main Menu behaviour
.main-menu-dropdown-items {
  background-color: $gray-1000;
  color: $gray-80;
  margin-left: 51px;
  margin-top: -42px;
}

.sub-menu-dropdown-items {
  background-color: $gray-1000;
  color: $gray-80;
  height: 48px;
  padding-top: 12px;
}

.sub-menu-dropdown-items:hover {
  color: $white;
  background-color: $gray-1000;
}

.main-menu-hover-color {
  color: $light;
}

.main-menu-hover-color:hover {
  color: $white;
}

.top-z-index {
  z-index: 9999;
}

//Scroll bar
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-70;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-200;
}
