@font-face {
  font-family: 'ips-glyphs';
  src: url('../assets/icons/fonts/ips-glyphs.woff?abcjwe') format('woff'),
    url('../assets/icons/fonts/ips-glyphs.ttf?abcjwe') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ico-'],
[class*=' ico-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ips-glyphs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: $gray-200;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ips-icon {
  &.ips-icon-sm {
    @include font-size(0.75rem);
  }
  &.ips-icon-md {
    @include font-size(1rem);
  }
  &.ips-icon-lg {
    @include font-size(1.25rem);
  }
}

.ico-whatsapp-fill {
  &:before {
    content: $ico-whatsapp-fill;
  }
}
.ico-facebook {
  &:before {
    content: $ico-facebook;
  }
}
.ico-messenger {
  &:before {
    content: $ico-messenger;
  }
}
.ico-connection-off {
  &:before {
    content: $ico-connection-off;
  }
}
.ico-connection-on {
  &:before {
    content: $ico-connection-on;
  }
}
.ico-column {
  &:before {
    content: $ico-column;
  }
}
.ico-column1 {
  &:before {
    content: $ico-column1;
  }
}
.ico-column2 {
  &:before {
    content: $ico-column2;
  }
}
.ico-accessibility {
  &:before {
    content: $ico-accessibility;
  }
}
.ico-account {
  &:before {
    content: $ico-account;
  }
}
.ico-address {
  &:before {
    content: $ico-address;
  }
}
.ico-administration {
  &:before {
    content: $ico-administration;
  }
}
.ico-align-centre {
  &:before {
    content: $ico-align-centre;
  }
}
.ico-align-justify {
  &:before {
    content: $ico-align-justify;
  }
}
.ico-align-left {
  &:before {
    content: $ico-align-left;
  }
}
.ico-align-right {
  &:before {
    content: $ico-align-right;
  }
}
.ico-analytics-report {
  &:before {
    content: $ico-analytics-report;
  }
}
.ico-announcement {
  &:before {
    content: $ico-announcement;
  }
}
.ico-application {
  &:before {
    content: $ico-application;
  }
}
.ico-archive {
  &:before {
    content: $ico-archive;
  }
}
.ico-arrow-left {
  &:before {
    content: $ico-arrow-left;
  }
}
.ico-arrow-right {
  &:before {
    content: $ico-arrow-right;
  }
}
.ico-ascending {
  &:before {
    content: $ico-ascending;
  }
}
.ico-attachments {
  &:before {
    content: $ico-attachments;
  }
}
.ico-backspace {
  &:before {
    content: $ico-backspace;
  }
}
.ico-bold {
  &:before {
    content: $ico-bold;
  }
}
.ico-build {
  &:before {
    content: $ico-build;
  }
}
.ico-bullet-list {
  &:before {
    content: $ico-bullet-list;
  }
}
.ico-calendar {
  &:before {
    content: $ico-calendar;
  }
}
.ico-call-recording {
  &:before {
    content: $ico-call-recording;
  }
}
.ico-callback {
  &:before {
    content: $ico-callback;
  }
}
.ico-campaigns {
  &:before {
    content: $ico-campaigns;
  }
}
.ico-card {
  &:before {
    content: $ico-card;
  }
}
.ico-channels {
  &:before {
    content: $ico-channels;
  }
}
.ico-chat-2 {
  &:before {
    content: $ico-chat-2;
  }
}
.ico-chat-3 {
  &:before {
    content: $ico-chat-3;
  }
}
.ico-chat-4 {
  &:before {
    content: $ico-chat-4;
  }
}
.ico-chat-5 {
  &:before {
    content: $ico-chat-5;
  }
}
.ico-chat-history {
  &:before {
    content: $ico-chat-history;
  }
}
.ico-chat-transfer {
  &:before {
    content: $ico-chat-transfer;
  }
}
.ico-chat {
  &:before {
    content: $ico-chat;
  }
}
.ico-checkbox {
  &:before {
    content: $ico-checkbox;
  }
}
.ico-chevron-down {
  &:before {
    content: $ico-chevron-down;
  }
}
.ico-chevron-left {
  &:before {
    content: $ico-chevron-left;
  }
}
.ico-chevron-right {
  &:before {
    content: $ico-chevron-right;
  }
}
.ico-chevron-up {
  &:before {
    content: $ico-chevron-up;
  }
}
.ico-circle-add {
  &:before {
    content: $ico-circle-add;
  }
}
.ico-circle-minus {
  &:before {
    content: $ico-circle-minus;
  }
}
.ico-close {
  &:before {
    content: $ico-close;
  }
}
.ico-cog {
  &:before {
    content: $ico-cog;
  }
}
.ico-column-layout {
  &:before {
    content: $ico-column-layout;
  }
}
.ico-component {
  &:before {
    content: $ico-component;
  }
}
.ico-console {
  &:before {
    content: $ico-console;
  }
}
.ico-copy {
  &:before {
    content: $ico-copy;
  }
}
.ico-cube {
  &:before {
    content: $ico-cube;
  }
}
.ico-danger {
  &:before {
    content: $ico-danger;
  }
}
.ico-dashboard {
  &:before {
    content: $ico-dashboard;
  }
}
.ico-data-lineage {
  &:before {
    content: $ico-data-lineage;
  }
}
.ico-delete {
  &:before {
    content: $ico-delete;
  }
}
.ico-descending {
  &:before {
    content: $ico-descending;
  }
}
.ico-desktop {
  &:before {
    content: $ico-desktop;
  }
}
.ico-disabled {
  &:before {
    content: $ico-disabled;
  }
}
.ico-double-chevron-down {
  &:before {
    content: $ico-double-chevron-down;
  }
}
.ico-double-chevron-left {
  &:before {
    content: $ico-double-chevron-left;
  }
}
.ico-double-chevron-right {
  &:before {
    content: $ico-double-chevron-right;
  }
}
.ico-double-chevron-up {
  &:before {
    content: $ico-double-chevron-up;
  }
}
.ico-down {
  &:before {
    content: $ico-down;
  }
}
.ico-download {
  &:before {
    content: $ico-download;
  }
}
.ico-draft {
  &:before {
    content: $ico-draft;
  }
}
.ico-drag-and-drop-horizontal {
  &:before {
    content: $ico-drag-and-drop-horizontal;
  }
}
.ico-drag-and-drop-vertical {
  &:before {
    content: $ico-drag-and-drop-vertical;
  }
}
.ico-edit {
  &:before {
    content: $ico-edit;
  }
}
.ico-email-back {
  &:before {
    content: $ico-email-back;
  }
}
.ico-email-transfer {
  &:before {
    content: $ico-email-transfer;
  }
}
.ico-email-unactioned {
  &:before {
    content: $ico-email-unactioned;
  }
}
.ico-emoji {
  &:before {
    content: $ico-emoji;
  }
}
.ico-erase {
  &:before {
    content: $ico-erase;
  }
}
.ico-export {
  &:before {
    content: $ico-export;
  }
}
.ico-external-link {
  &:before {
    content: $ico-external-link;
  }
}
.ico-eye-off {
  &:before {
    content: $ico-eye-off;
  }
}
.ico-eye {
  &:before {
    content: $ico-eye;
  }
}
.ico-filter {
  &:before {
    content: $ico-filter;
  }
}
.ico-font-colour {
  &:before {
    content: $ico-font-colour;
  }
}
.ico-font-family {
  &:before {
    content: $ico-font-family;
  }
}
.ico-font-highlight {
  &:before {
    content: $ico-font-highlight;
  }
}
.ico-font-size {
  &:before {
    content: $ico-font-size;
  }
}
.ico-full-circle {
  &:before {
    content: $ico-full-circle;
  }
}
.ico-function {
  &:before {
    content: $ico-function;
  }
}
.ico-globe {
  &:before {
    content: $ico-globe;
  }
}
.ico-hangup {
  &:before {
    content: $ico-hangup;
  }
}
.ico-hashtag {
  &:before {
    content: $ico-hashtag;
  }
}
.ico-headset {
  &:before {
    content: $ico-headset;
  }
}
.ico-help {
  &:before {
    content: $ico-help;
  }
}
.ico-high-priority {
  &:before {
    content: $ico-high-priority;
  }
}
.ico-history {
  &:before {
    content: $ico-history;
  }
}
.ico-home {
  &:before {
    content: $ico-home;
  }
}
.ico-horizontal-arrow {
  &:before {
    content: $ico-horizontal-arrow;
  }
}
.ico-image-centre {
  &:before {
    content: $ico-image-centre;
  }
}
.ico-image-file {
  &:before {
    content: $ico-image-file;
  }
}
.ico-image-in-line {
  &:before {
    content: $ico-image-in-line;
  }
}
.ico-image-left {
  &:before {
    content: $ico-image-left;
  }
}
.ico-image-right {
  &:before {
    content: $ico-image-right;
  }
}
.ico-image-size {
  &:before {
    content: $ico-image-size;
  }
}
.ico-image {
  &:before {
    content: $ico-image;
  }
}
.ico-inbound {
  &:before {
    content: $ico-inbound;
  }
}
.ico-inbox {
  &:before {
    content: $ico-inbox;
  }
}
.ico-info {
  &:before {
    content: $ico-info;
  }
}
.ico-inherited-group {
  &:before {
    content: $ico-inherited-group;
  }
}
.ico-insert-text {
  &:before {
    content: $ico-insert-text;
  }
}
.ico-integration {
  &:before {
    content: $ico-integration;
  }
}
.ico-ipscape-fill {
  &:before {
    content: $ico-ipscape-fill;
  }
}
.ico-ipscape-pay {
  &:before {
    content: $ico-ipscape-pay;
  }
}
.ico-ipscape-stroke {
  &:before {
    content: $ico-ipscape-stroke;
  }
}
.ico-italic {
  &:before {
    content: $ico-italic;
  }
}
.ico-keypad {
  &:before {
    content: $ico-keypad;
  }
}
.ico-lead-manager {
  &:before {
    content: $ico-lead-manager;
  }
}
.ico-left {
  &:before {
    content: $ico-left;
  }
}
.ico-line-chart {
  &:before {
    content: $ico-line-chart;
  }
}
.ico-live-reports {
  &:before {
    content: $ico-live-reports;
  }
}
.ico-locate {
  &:before {
    content: $ico-locate;
  }
}
.ico-locked {
  &:before {
    content: $ico-locked;
  }
}
.ico-logout {
  &:before {
    content: $ico-logout;
  }
}
.ico-management {
  &:before {
    content: $ico-management;
  }
}
.ico-manual {
  &:before {
    content: $ico-manual;
  }
}
.ico-menu {
  &:before {
    content: $ico-menu;
  }
}
.ico-microphone {
  &:before {
    content: $ico-microphone;
  }
}
.ico-minus {
  &:before {
    content: $ico-minus;
  }
}
.ico-mobile {
  &:before {
    content: $ico-mobile;
  }
}
.ico-move {
  &:before {
    content: $ico-move;
  }
}
.ico-music-file {
  &:before {
    content: $ico-music-file;
  }
}
.ico-notification {
  &:before {
    content: $ico-notification;
  }
}
.ico-number-completed {
  &:before {
    content: $ico-number-completed;
  }
}
.ico-numbered-list {
  &:before {
    content: $ico-numbered-list;
  }
}
.ico-offline {
  &:before {
    content: $ico-offline;
  }
}
.ico-on-call {
  &:before {
    content: $ico-on-call;
  }
}
.ico-other-file {
  &:before {
    content: $ico-other-file;
  }
}
.ico-outbound-call {
  &:before {
    content: $ico-outbound-call;
  }
}
.ico-outbound {
  &:before {
    content: $ico-outbound;
  }
}
.ico-overflow-vertical {
  &:before {
    content: $ico-overflow-vertical;
  }
}
.ico-overflow {
  &:before {
    content: $ico-overflow;
  }
}
.ico-page-layout {
  &:before {
    content: $ico-page-layout;
  }
}
.ico-page {
  &:before {
    content: $ico-page;
  }
}
.ico-participant {
  &:before {
    content: $ico-participant;
  }
}
.ico-pause {
  &:before {
    content: $ico-pause;
  }
}
.ico-paused {
  &:before {
    content: $ico-paused;
  }
}
.ico-pdf-file {
  &:before {
    content: $ico-pdf-file;
  }
}
.ico-phone {
  &:before {
    content: $ico-phone;
  }
}
.ico-play {
  &:before {
    content: $ico-play;
  }
}
.ico-playlist-file {
  &:before {
    content: $ico-playlist-file;
  }
}
.ico-plus {
  &:before {
    content: $ico-plus;
  }
}
.ico-presentation-file {
  &:before {
    content: $ico-presentation-file;
  }
}
.ico-queue {
  &:before {
    content: $ico-queue;
  }
}
.ico-random {
  &:before {
    content: $ico-random;
  }
}
.ico-recipient {
  &:before {
    content: $ico-recipient;
  }
}
.ico-recording-bookmark {
  &:before {
    content: $ico-recording-bookmark;
  }
}
.ico-recording {
  &:before {
    content: $ico-recording;
  }
}
.ico-redo {
  &:before {
    content: $ico-redo;
  }
}
.ico-refresh {
  &:before {
    content: $ico-refresh;
  }
}
.ico-reply {
  &:before {
    content: $ico-reply;
  }
}
.ico-resources {
  &:before {
    content: $ico-resources;
  }
}
.ico-right {
  &:before {
    content: $ico-right;
  }
}
.ico-save {
  &:before {
    content: $ico-save;
  }
}
.ico-search-templates {
  &:before {
    content: $ico-search-templates;
  }
}
.ico-search {
  &:before {
    content: $ico-search;
  }
}
.ico-security-key {
  &:before {
    content: $ico-security-key;
  }
}
.ico-select {
  &:before {
    content: $ico-select;
  }
}
.ico-send {
  &:before {
    content: $ico-send;
  }
}
.ico-settings {
  &:before {
    content: $ico-settings;
  }
}
.ico-shield {
  &:before {
    content: $ico-shield;
  }
}
.ico-small-minus {
  &:before {
    content: $ico-small-minus;
  }
}
.ico-small-plus {
  &:before {
    content: $ico-small-plus;
  }
}
.ico-smiley-face {
  &:before {
    content: $ico-smiley-face;
  }
}
.ico-socials {
  &:before {
    content: $ico-socials;
  }
}
.ico-special-character {
  &:before {
    content: $ico-special-character;
  }
}
.ico-spreadsheet-file {
  &:before {
    content: $ico-spreadsheet-file;
  }
}
.ico-star-filled {
  &:before {
    content: $ico-star-filled;
  }
}
.ico-star-stroke {
  &:before {
    content: $ico-star-stroke;
  }
}
.ico-step-backward {
  &:before {
    content: $ico-step-backward;
  }
}
.ico-step-forward {
  &:before {
    content: $ico-step-forward;
  }
}
.ico-stop {
  &:before {
    content: $ico-stop;
  }
}
.ico-strikethrough {
  &:before {
    content: $ico-strikethrough;
  }
}
.ico-submit-button {
  &:before {
    content: $ico-submit-button;
  }
}
.ico-success {
  &:before {
    content: $ico-success;
  }
}
.ico-swap {
  &:before {
    content: $ico-swap;
  }
}
.ico-system-variable {
  &:before {
    content: $ico-system-variable;
  }
}
.ico-table-column {
  &:before {
    content: $ico-table-column;
  }
}
.ico-table-merge {
  &:before {
    content: $ico-table-merge;
  }
}
.ico-table-row {
  &:before {
    content: $ico-table-row;
  }
}
.ico-table {
  &:before {
    content: $ico-table;
  }
}
.ico-team {
  &:before {
    content: $ico-team;
  }
}
.ico-text-field {
  &:before {
    content: $ico-text-field;
  }
}
.ico-text-input {
  &:before {
    content: $ico-text-input;
  }
}
.ico-text-styles {
  &:before {
    content: $ico-text-styles;
  }
}
.ico-textarea-expand {
  &:before {
    content: $ico-textarea-expand;
  }
}
.ico-textarea {
  &:before {
    content: $ico-textarea;
  }
}
.ico-tick {
  &:before {
    content: $ico-tick;
  }
}
.ico-time {
  &:before {
    content: $ico-time;
  }
}
.ico-tint {
  &:before {
    content: $ico-tint;
  }
}
.ico-totp {
  &:before {
    content: $ico-totp;
  }
}
.ico-transcripts {
  &:before {
    content: $ico-transcripts;
  }
}
.ico-trash {
  &:before {
    content: $ico-trash;
  }
}
.ico-underline {
  &:before {
    content: $ico-underline;
  }
}
.ico-undo {
  &:before {
    content: $ico-undo;
  }
}
.ico-unlink {
  &:before {
    content: $ico-unlink;
  }
}
.ico-unlock {
  &:before {
    content: $ico-unlock;
  }
}
.ico-up {
  &:before {
    content: $ico-up;
  }
}
.ico-upload-file {
  &:before {
    content: $ico-upload-file;
  }
}
.ico-upload {
  &:before {
    content: $ico-upload;
  }
}
.ico-vertical-arrow {
  &:before {
    content: $ico-vertical-arrow;
  }
}
.ico-video-file {
  &:before {
    content: $ico-video-file;
  }
}
.ico-volume-down {
  &:before {
    content: $ico-volume-down;
  }
}
.ico-volume-off {
  &:before {
    content: $ico-volume-off;
  }
}
.ico-volume-up {
  &:before {
    content: $ico-volume-up;
  }
}
.ico-warning {
  &:before {
    content: $ico-warning;
  }
}
.ico-word-file {
  &:before {
    content: $ico-word-file;
  }
}
.ico-zip-file {
  &:before {
    content: $ico-zip-file;
  }
}
.ico-zoom-to-fit {
  &:before {
    content: $ico-zoom-to-fit;
  }
}
.ico-phonebook {
  &:before {
    content: $ico-phonebook;
  }
}
.ico-wrap-interaction {
  &:before {
    content: $ico-wrap-interaction;
  }
}
