.ips {
  &.default-input {
    position: relative;
    &.row {
      > label {
        margin-right: 1rem;
      }
    }
  }
  > select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient(45deg, transparent 50%, $gray-200 50%),
      linear-gradient(135deg, $gray-200 50%, transparent 50%);
    background-position: calc(100% - 21px) calc(1em + 2px),
      calc(100% - 16px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  }
  &.form-control {
    &.has-icon--prepend {
      -webkit-appearance: none;
      padding-left: 36px;
    }
    &.has-icon--append {
      -webkit-appearance: none;
      padding-right: 16px;
    }
  }
  &.ips-icon {
    &.ips-alert-icon {
    }
    &.ips-form-icon--search,
    &.ips-form-icon--prepend {
      position: absolute;
      top: 0.4rem;
      left: 12px;
    }
    &.ips-form-icon--clear:hover,
    &.ips-form-icon--password:hover {
      cursor: pointer;
    }
    &.ips-form-icon--append,
    &.ips-form-icon--clear,
    &.ips-form-icon--password {
      position: absolute;
      top: 0.5rem;
      right: 12px;
    }
  }

  &.is-required {
    > span:first-of-type:after {
      content: ' *';
      color: red;
    }
  }
}

.audio-lg {
  height: 36px;
  width: 500px;
}
.audio {
  height: 36px;
  width: 280px;
}
.audio-sm {
  height: 36px;
  width: 103px;
}

//############# Code snippets ########################

.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $gray-100;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
  }
  pre code {
    @include font-size(inherit);
    color: $gray-900; // Effectively the base text color
  }

  @include media-breakpoint-up(sm) {
    padding: 1.5rem;
  }
}

.bd-content .highlight {
  margin-right: (-$grid-gutter-width * 0.5);
  margin-left: (-$grid-gutter-width * 0.5);

  @include media-breakpoint-up(sm) {
    margin-right: 0;
    margin-left: 0;
  }
}

// Misc
// TODO clean up

.cursor-pointer {
  cursor: pointer;
}

.centered-position {
  left: 50%;
  top: 50%;
  position: absolute;
}

.row_progress_bar {
  height: 48px;
  background: white;
}

span.required {
  color: $gray-50;
  font: $font-family-sans-serif;
  font-style: italic;
  font-size: 14px;
  padding-left: 4px;
}

.errors_list {
  margin-left: -14px;
  list-style-type: none;
  margin-bottom: 0;
}

a.link-secondary {
  color: $gray-800;
  font-size: 14px;
}

.jumbotron {
  background-color: $white;
  border: 1px solid $gray-40;
}

.ips-validation {
  text-align: left !important;
  i.ips.ips-icon {
    padding-right: 4px;
    color: inherit;
  }
}
