// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

// Container that the modal scrolls within
.modal {
  display: inherit;
}

.modal-dialog {
  margin-top: 100px;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  height: 64px;
  border-bottom: 1px solid $border-color;
}

.modal-footer {
  border-top: 1px solid $border-color;
  height: 56px;
  padding: 0 $modal-inner-padding 0 $modal-inner-padding;

  > * {
    margin: 0;
  }
}
