// Basic Bootstrap table

.table {
  padding: 0;
  margin-bottom: 0;

  td {
    vertical-align: middle;
    border-bottom: 1px solid $table-border-color;
    padding: 0 12px;
  }

  thead th {
    border-top: 0;
    border-bottom-color: $table-border-color !important;
  }

  thead tr {
    border-bottom: 1px solid $gray-40;
  }
}
.table-hover > tbody > tr.table-active:hover {
  --ips-table-accent-bg: var(--ips-orange-lighter);
}

tr.table-row-hover:hover {
  box-shadow: 0 4px 12px 0 rgba(9, 30, 66, 0.2), 0 0 0 1px rgba(9, 30, 66, 0.04);
  cursor: pointer;
}

td {
  line-height: 47px;
  vertical-align: middle;
}

.table-row-selected {
  background-color: $orange-light;
}
