// ###### Toast #########

.toast {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  background-color: $white;
  color: $gray-800;
  opacity: 1;
}

// Headings for larger toasts
.toast-heading {
  // Specified to prevent conflicts of changing $headings-color
  font-size: $font-size-base;
  color: inherit;
  font-weight: 600;

  & > i.fa-times {
    &:hover {
      cursor: pointer;
    }
  }
}

.toast-body {
  padding: 0;
}

.toast-text {
  font-size: $font-size-base;
  color: inherit;
  margin-left: 24px;
}

// Provide class for links that match toasts
.toast-link {
  font-weight: $alert-link-font-weight;
}

// Dismissible toasts
//
// Expand the right padding and account for the close button's positioning.

.toast-dismissible {
  //padding-right: $close-font-size + $alert-padding-x * 2;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the dismiss.

@each $color, $value in $theme-colors {
  .toast-#{$color} {
    border-left: 3px solid $value;
    box-shadow: 0 4px 12px 0 rgba(9, 30, 66, 0.2),
      0 0 0 1px rgba(9, 30, 66, 0.04);
  }
}

.toast-default {
  box-shadow: 0 4px 12px 0 rgba(9, 30, 66, 0.2), 0 0 0 1px rgba(9, 30, 66, 0.04);
}
