// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  color: $headings-color;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $headings-font-weight;
  line-height: 1.5rem;
}

h2 {
  font-family: $font-family-sans-serif;
  font-size: $h2-font-size;
  font-weight: $headings-font-weight;
  line-height: 1.25rem;
}

h3 {
  font-family: $font-family-sans-serif;
  font-size: $h3-font-size;
  font-weight: $headings-font-weight;
  line-height: 1.25rem;
}

h4 {
  font-family: $font-family-sans-serif;
  font-size: $h4-font-size;
  font-weight: $headings-font-weight;
  line-height: 1rem;
}

h5 {
  font-family: $font-family-sans-serif;
  font-size: $h5-font-size;
  font-weight: $headings-font-weight;
  line-height: 1rem;
}

h6 {
  font-family: $font-family-sans-serif;
  font-size: $h6-font-size;
  line-height: 1rem;
  text-transform: uppercase;
}
