// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff;
$gray-0: #ffffff;
$gray-10: #fafbfc;
$gray-20: #f4f5f7;
$gray-30: #ebecf0;
$gray-40: #dfe1e5;
$gray-50: #c1c7d0;
$gray-60: #b3bac5;
$gray-70: #a5adba;
$gray-80: #97a0af;
$gray-90: #8993a4;
$gray-100: #7a869a;
$gray-200: #6b778c;
$gray-300: #5e6c84;
$gray-400: #505f79;
$gray-500: #42526e;
$gray-600: #344563;
$gray-700: #253858;
$gray-800: #172b4d;
$gray-900: #091e42;
$gray-1000: #051632;
$black: #000;

$grays: ();
$grays: map-merge(
  (
    'gray-0': $gray-0,
    'gray-10': $gray-10,
    'gray-20': $gray-20,
    'gray-30': $gray-30,
    'gray-40': $gray-40,
    'gray-50': $gray-50,
    'gray-60': $gray-60,
    'gray-70': $gray-70,
    'gray-80': $gray-80,
    'gray-90': $gray-90,
    'gray-100': $gray-100,
    'gray-200': $gray-200,
    'gray-300': $gray-300,
    'gray-400': $gray-400,
    'gray-500': $gray-500,
    'gray-600': $gray-600,
    'gray-700': $gray-700,
    'gray-800': $gray-800,
    'gray-900': $gray-900,
    'gray-1000': $gray-1000,
  ),
  $grays
);

$blue: #0065ff;
$indigo: #6610f2;
$purple: #6554c0;
$pink: #e83e8c;
$red: #ff5630;
$orange: #f66a0a;
$yellow: #ffab00;
$green: #36b37e;
$teal: #00b8d9;
$cyan: #17a2b8;

$colors: ();
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800,
  ),
  $colors
);

$orange-lighter: #ffebda;
$orange-light: #ffad70;
$orange-dark: #d15704;
$orange-darker: #b44b03;

$oranges: (
  'orange-lighter': $orange-lighter,
  'orange-light': $orange-light,
  'orange': $orange,
  'orange-dark': $orange-dark,
  'orange-darker': $orange-darker,
);

$red-lighter: #ffebe5;
$red-light: #ff8f73;
$red-dark: #bf2600;
$red-darker: #8a1b00;

$reds: (
  'red-lighter': $red-lighter,
  'red-light': $red-light,
  'red': $red,
  'red-dark': $red-dark,
  'red-darker': $red-darker,
);

$yellow-lighter: #fffae5;
$yellow-light: #ffe380;
$yellow-dark: #ff8b00;
$yellow-darker: #cc6f00;

$yellows: (
  'yellow-lighter': $yellow-lighter,
  'yellow-light': $yellow-light,
  'yellow': $yellow,
  'yellow-dark': $yellow-dark,
  'yellow-darker': $yellow-darker,
);

$green-lighter: #ddf5ec;
$green-light: #b8ead7;
$green-dark: #006644;
$green-darker: #003322;

$greens: (
  'green-lighter': $green-lighter,
  'green-light': $green-light,
  'green': $green,
  'green-dark': $green-dark,
  'green-darker': $green-darker,
);

$teal-lighter: #e6fcff;
$teal-light: #79e2f2;
$teal-dark: #008da6;
$teal-darker: #006475;

$teals: (
  'teal-lighter': $teal-lighter,
  'teal-light': $teal-light,
  'teal': $teal,
  'teal-dark': $teal-dark,
  'teal-darker': $teal-darker,
);

$blue-lighter: #deebff;
$blue-light: #4c9aff;
$blue-dark: #0747a6;
$blue-darker: #053275;

$blues: (
  'blue-lighter': $blue-lighter,
  'blue-light': $blue-light,
  'blue': $blue,
  'blue-dark': $blue-dark,
  'blue-darker': $blue-darker,
);

$purple-lighter: #eae6ff;
$purple-light: #998dd9;
$purple-dark: #403294;
$purple-darker: #30256f;

$purples: (
  'purple-lighter': $purple-lighter,
  'purple-light': $purple-light,
  'purple': $purple,
  'purple-dark': $purple-dark,
  'purple-darker': $purple-darker,
);

$primary: $orange;
$secondary: $gray-800;
$tertiary: $white;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $gray-80;
$dark: $gray-800;

$theme-colors: ();
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'gray': $gray-800,
    'orange': $orange,
    'red': $red,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'blue': $blue,
    'purple': $purple,
  ),
  $theme-colors
);

$theme-colors-light: (
  'orange': $orange-lighter,
  'red': $red-lighter,
  'yellow': $yellow-lighter,
  'green': $green-lighter,
  'teal': $teal-lighter,
  'blue': $blue-lighter,
  'purple': $purple-lighter,
  'gray': $gray-40,
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-validation-icons: false;

// Prefix for :root CSS variables

$variable-prefix: ips-;

// ipSCAPE glyph icons
$ico-accessibility: '\e903';
$ico-account: '\e904';
$ico-address: '\e905';
$ico-administration: '\e906';
$ico-align-centre: '\e907';
$ico-align-justify: '\e908';
$ico-align-left: '\e909';
$ico-align-right: '\e90a';
$ico-analytics-report: '\e90b';
$ico-announcement: '\e90c';
$ico-application: '\e90d';
$ico-archive: '\e90e';
$ico-arrow-left: '\e90f';
$ico-arrow-right: '\e910';
$ico-ascending: '\e911';
$ico-attachments: '\e912';
$ico-backspace: '\e913';
$ico-bold: '\e914';
$ico-build: '\e915';
$ico-bullet-list: '\e916';
$ico-calendar: '\e917';
$ico-call-recording: '\e918';
$ico-callback: '\e919';
$ico-campaigns: '\e91a';
$ico-card: '\e91b';
$ico-channels: '\e91c';
$ico-chat-2: '\e91d';
$ico-chat-3: '\e91e';
$ico-chat-4: '\e91f';
$ico-chat-5: '\e920';
$ico-chat-history: '\e921';
$ico-chat-transfer: '\e922';
$ico-chat: '\e923';
$ico-checkbox: '\e924';
$ico-chevron-down: '\e925';
$ico-chevron-left: '\e926';
$ico-chevron-right: '\e927';
$ico-chevron-up: '\e928';
$ico-circle-add: '\e929';
$ico-circle-minus: '\e92a';
$ico-close: '\e92b';
$ico-cog: '\e92c';
$ico-column-layout: '\e92d';
$ico-column1: '\e901';
$ico-column2: '\e902';
$ico-column: '\e900';
$ico-component: '\e92e';
$ico-connection-off: '\e9d7';
$ico-connection-on: '\e9d8';
$ico-console: '\e92f';
$ico-copy: '\e930';
$ico-cube: '\e931';
$ico-danger: '\e932';
$ico-dashboard: '\e933';
$ico-data-lineage: '\e934';
$ico-delete: '\e935';
$ico-descending: '\e936';
$ico-desktop: '\e937';
$ico-disabled: '\e938';
$ico-double-chevron-down: '\e939';
$ico-double-chevron-left: '\e93a';
$ico-double-chevron-right: '\e93b';
$ico-double-chevron-up: '\e93c';
$ico-down: '\e93d';
$ico-download: '\e93e';
$ico-draft: '\e93f';
$ico-drag-and-drop-horizontal: '\e940';
$ico-drag-and-drop-vertical: '\e941';
$ico-edit: '\e942';
$ico-email-back: '\e943';
$ico-email-transfer: '\e944';
$ico-email-unactioned: '\e945';
$ico-emoji: '\e946';
$ico-erase: '\e947';
$ico-export: '\e948';
$ico-external-link: '\e949';
$ico-eye-off: '\e94a';
$ico-eye: '\e94b';
$ico-facebook: '\e9da';
$ico-filter: '\e94c';
$ico-font-colour: '\e94d';
$ico-font-family: '\e94e';
$ico-font-highlight: '\e94f';
$ico-font-size: '\e950';
$ico-full-circle: '\e951';
$ico-function: '\e952';
$ico-globe: '\e953';
$ico-hangup: '\e954';
$ico-hashtag: '\e955';
$ico-headset: '\e956';
$ico-help: '\e957';
$ico-high-priority: '\e958';
$ico-history: '\e959';
$ico-home: '\e95a';
$ico-horizontal-arrow: '\e95b';
$ico-image-centre: '\e95c';
$ico-image-file: '\e95d';
$ico-image-in-line: '\e95e';
$ico-image-left: '\e95f';
$ico-image-right: '\e960';
$ico-image-size: '\e961';
$ico-image: '\e962';
$ico-inbound: '\e963';
$ico-inbox: '\e964';
$ico-info: '\e965';
$ico-inherited-group: '\e966';
$ico-insert-text: '\e967';
$ico-integration: '\e968';
$ico-ipscape-fill: '\e969';
$ico-ipscape-pay: '\e96a';
$ico-ipscape-stroke: '\e96b';
$ico-italic: '\e96c';
$ico-keypad: '\e96d';
$ico-lead-manager: '\e96e';
$ico-left: '\e96f';
$ico-line-chart: '\e970';
$ico-live-reports: '\e971';
$ico-locate: '\e972';
$ico-locked: '\e973';
$ico-logout: '\e974';
$ico-management: '\e975';
$ico-manual: '\e976';
$ico-menu: '\e977';
$ico-messenger: '\e978';
$ico-microphone: '\e979';
$ico-minus: '\e97a';
$ico-mobile: '\e97b';
$ico-move: '\e97c';
$ico-music-file: '\e97d';
$ico-notification: '\e97e';
$ico-number-completed: '\e97f';
$ico-numbered-list: '\e980';
$ico-offline: '\e981';
$ico-on-call: '\e982';
$ico-other-file: '\e983';
$ico-outbound-call: '\e984';
$ico-outbound: '\e985';
$ico-overflow-vertical: '\e986';
$ico-overflow: '\e987';
$ico-page-layout: '\e988';
$ico-page: '\e989';
$ico-participant: '\e98a';
$ico-pause: '\e98b';
$ico-paused: '\e98c';
$ico-pdf-file: '\e98d';
$ico-phone: '\e98e';
$ico-phonebook: '\e98f';
$ico-play: '\e990';
$ico-playlist-file: '\e991';
$ico-plus: '\e992';
$ico-presentation-file: '\e993';
$ico-queue: '\e994';
$ico-random: '\e995';
$ico-recipient: '\e996';
$ico-recording-bookmark: '\e997';
$ico-recording: '\e998';
$ico-redo: '\e999';
$ico-refresh: '\e99a';
$ico-reply: '\e99b';
$ico-resources: '\e99c';
$ico-right: '\e99d';
$ico-save: '\e99e';
$ico-search-templates: '\e99f';
$ico-search: '\e9a0';
$ico-security-key: '\e9a1';
$ico-select: '\e9a2';
$ico-send: '\e9a3';
$ico-settings: '\e9a4';
$ico-shield: '\e9a5';
$ico-small-minus: '\e9a6';
$ico-small-plus: '\e9a7';
$ico-smiley-face: '\e9a8';
$ico-socials: '\e9a9';
$ico-special-character: '\e9aa';
$ico-spreadsheet-file: '\e9ab';
$ico-star-filled: '\e9ac';
$ico-star-stroke: '\e9ad';
$ico-step-backward: '\e9ae';
$ico-step-forward: '\e9af';
$ico-stop: '\e9b0';
$ico-strikethrough: '\e9b1';
$ico-submit-button: '\e9b2';
$ico-success: '\e9b3';
$ico-swap: '\e9b4';
$ico-system-variable: '\e9b5';
$ico-table-column: '\e9b6';
$ico-table-merge: '\e9b7';
$ico-table-row: '\e9b8';
$ico-table: '\e9b9';
$ico-team: '\e9ba';
$ico-text-field: '\e9bb';
$ico-text-input: '\e9bc';
$ico-text-styles: '\e9bd';
$ico-textarea-expand: '\e9be';
$ico-textarea: '\e9bf';
$ico-tick: '\e9c0';
$ico-time: '\e9c1';
$ico-tint: '\e9c2';
$ico-totp: '\e9c3';
$ico-transcripts: '\e9c4';
$ico-trash: '\e9c5';
$ico-underline: '\e9c6';
$ico-undo: '\e9c7';
$ico-unlink: '\e9c8';
$ico-unlock: '\e9c9';
$ico-up: '\e9ca';
$ico-upload-file: '\e9cb';
$ico-upload: '\e9cc';
$ico-vertical-arrow: '\e9cd';
$ico-video-file: '\e9ce';
$ico-volume-down: '\e9cf';
$ico-volume-off: '\e9d0';
$ico-volume-up: '\e9d1';
$ico-warning: '\e9d2';
$ico-whatsapp-fill: '\e9d9';
$ico-word-file: '\e9d3';
$ico-wrap-interaction: '\e9d6';
$ico-zip-file: '\e9d4';
$ico-zoom-to-fit: '\e9d5';

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: (
      $spacer * 0.75,
    ),
    4: $spacer,
    5: (
      $spacer * 1.25,
    ),
    6: (
      $spacer * 1.5,
    ),
    7: (
      $spacer * 1.75,
    ),
    8: (
      $spacer * 2,
    ),
  ),
  $spacers
);

// Body
//
// Settings for the `<body>` element.

$body-color: $gray-800;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 2.5rem;

// Components
//
// Define common padding and border radius sizes and more.

$border-width: 1px;

$border-color: $gray-40;

$border-radius: 3px;
$border-radius-xs: 0.2rem;
$border-radius-xss: 0.2rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Lato';

$font-size-base: 0.875rem; // Assumes the browser default, typically `16px`
$font-size-xs: $font-size-base * 0.875;
$font-size-xss: $font-size-base * 0.875;
$font-size-sm: $font-size-base * 1;
$font-size-lg: $font-size-base * 1.25;

$line-height-base: 1.5;
$line-height-lg: 1.5;
$line-height-sm: 1;
$line-height-xs: 1.5;
$line-height-xss: 1.5;

$h1-font-size: 1.25rem;
$h2-font-size: 1rem;
$h3-font-size: 0.875rem;
$h4-font-size: 0.75rem;
$h5-font-size: 0.6875rem;
$h6-font-size: 0.6875rem;

$headings-margin-bottom: 0;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 800;
$headings-color: $gray-800;

$display-font-sizes: ();
$display-font-sizes: map-merge(
  (
    1: 2.1875rem,
    2: 1.8125rem,
    3: 1.5rem,
  ),
  $display-font-sizes
);

$small-font-size: 0.75rem;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-hover-bg: $white;
$table-hover-color: $gray-800;
$table-cell-padding: 10px;
$table-active-color: $gray-800;
$table-active-bg: $orange-lighter;
$table-bg: none;
$table-color: $gray-800;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-padding-y: 0.5rem;
$input-padding-x: 0.75rem;

$input-btn-padding-y: 0.625rem;
$input-btn-padding-x: 0.75rem;
$input-btn-font-family: $font-family-sans-serif;

$input-btn-padding-y-xss: 0.25rem;
$input-btn-padding-x-xss: 0.5rem;
$input-btn-font-size-xss: $font-size-xss;
$input-btn-line-height-xss: $line-height-xss;

$input-btn-padding-y-xs: 0.25rem;
$input-btn-padding-x-xs: 0.5rem;
$input-btn-font-size-xs: $font-size-xs;
$input-btn-line-height-xs: $line-height-xs;

$input-btn-padding-y-sm: 0.375rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-font-size-sm: $font-size-sm;
$input-btn-line-height-sm: $line-height-sm;

$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-line-height-lg: $line-height-lg;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-line-height: 1;

$btn-padding-y-xss: $input-btn-padding-y-xss;
$btn-padding-x-xss: $input-btn-padding-x-xss;
$btn-font-size-xss: $input-btn-font-size-xss;
$btn-line-height-xss: $input-btn-line-height-xss;

$btn-padding-y-xs: $input-btn-padding-y-xs;
$btn-padding-x-xs: $input-btn-padding-x-xs;
$btn-font-size-xs: $input-btn-font-size-xs;
$btn-line-height-xs: $input-btn-line-height-xs;

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;
$btn-line-height-sm: $input-btn-line-height-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;

$btn-link-disabled-color: $orange-light;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;
$btn-border-radius-xs: $border-radius-xs;
$btn-border-radius-xss: $border-radius-xss;

// Forms

$input-line-height: 1;

$input-disabled-bg: $gray-20;

$input-color: $gray-800;
$input-border-color: $gray-40;

$input-focus-border-color: $gray-40;
$input-focus-box-shadow: 0 0 0 3px rgba(209, 87, 4, 0.08);

$input-placeholder-color: $gray-50;

$input-group-addon-bg: $gray-40;

$form-select-color: $gray-800;
$form-select-indicator-color: $gray-200;

// Navs
$nav-tabs-border-color: $white;
$nav-tabs-border-radius: 0;
$nav-tabs-link-active-border-color: $white;
$nav-tabs-active-link-hover-color: $gray-800;
$nav-tabs-border-width: 0;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-padding-y: 0;
$dropdown-spacer: 1px;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-divider-margin-y: 0;
$dropdown-divider-bg: $gray-40;
$dropdown-box-shadow: 0 2px 6px 0 rgba(9, 30, 66, 0.2),
  0 0 0 1px rgba(9, 30, 66, 0.04);

$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: $white;

$dropdown-link-active-color: $orange-dark;
$dropdown-link-active-bg: $white;

$dropdown-item-padding-y: 0.5rem;
$dropdown-item-padding-x: 1rem;

// Pagination

$pagination-padding-y: 0.5rem;
$pagination-padding-x: 0.75rem;
$pagination-padding-y-sm: 0.25rem;
$pagination-padding-x-sm: 0.5rem;
$pagination-padding-y-lg: 0.75rem;
$pagination-padding-x-lg: 1.5rem;

$pagination-color: $gray-200;
$pagination-border-color: $gray-40;

$pagination-hover-color: $orange;
$pagination-hover-bg: $white;
$pagination-hover-border-color: $orange;

$pagination-disabled-color: lighten($pagination-color, 40%);
$pagination-active-bg: $orange-dark;
$pagination-disabled-border-color: lighten($pagination-color, 40%);

// Cards

$card-bg: $white;
$card-border-width: 0;
$card-border-radius: 3px;
$pane-border-radius: 0;

// Tooltips

$tooltip-font-size: 12px;
$tooltip-max-width: 136px;
$tooltip-color: $white;
$tooltip-bg: $secondary;
$tooltip-border-radius: $border-radius;
$tooltip-opacity: 0.8;
$tooltip-padding-y: 4px;
$tooltip-padding-x: 8px;
$tooltip-arrow-width: 0.5rem;
$tooltip-arrow-height: 0.4rem;

// Popovers

$popover-bg: $orange;
$popover-border-color: $orange;
$popover-box-shadow: 0 4px 12px 0 rgba(246, 106, 10, 0.2),
  0 0 0 1px rgba(246, 106, 10, 0.04);

$popover-body-color: $white;

// Badges

$badge-font-size: 0.6875rem;
$badge-font-weight: 600;
$badge-padding-y: 1px;
$badge-padding-x: 8px;
$badge-border-radius: 10px;

// Modals

$modal-inner-padding: 1.25rem;
$modal-footer-margin-between: 1.25rem;

$modal-backdrop-bg: rgb(9, 30, 66, 0.8);
$modal-backdrop-opacity: 1;
$modal-header-padding-y: 1.25rem;
$modal-header-padding-x: 1.25rem;
$modal-content-border-width: 0;
$modal-content-border-radius: 3px;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 1rem;
$alert-padding-x: 1rem;
$alert-margin-bottom: 0;
$alert-border-radius: 3px;
$alert-border-width: 0;
$alert-link-font-weight: 600;

// List group

$list-group-action-color: $gray-800;

// Breadcrumbs

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: $white;
$breadcrumb-divider-color: $gray-800;
$breadcrumb-active-color: $gray-800;
