@import '../../../styles/variables';

table > thead > tr > th div.dropdown a {
  &.active,
  &:focus,
  &:hover {
    background-color: $white !important;
  }
}

.table > :not(:first-child) {
  border-top: 1px solid currentColor;
}

th {
  white-space: nowrap;
}

.mw-100 {
  min-width: 100%;
}

.pre-formatted {
  white-space: pre;
}

.ico-zip-file {
  color: $gray-200;
}
.ico-spreadsheet-file {
  color: $success;
}
.ico-image-file {
  color: $teal;
}
.ico-music-file {
  color: $warning;
}
.ico-other-file {
  color: $gray-200;
}
.ico-presentation-file {
  color: $orange;
}
.ico-pdf-file {
  color: $red;
}
.ico-video-file {
  color: $purple-dark;
}
.ico-word-file {
  color: $info;
}
.max-lines {
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 20px;
  margin: 13px 0;
}
.column-headers {
  min-width: 100px;
}
