@import '../../../styles/variables';

.pagination {
  & > .page-item {
    & select {
      height: 2.25rem;
      margin-left: 20px;
    }
    & i {
      line-height: 0.875rem;
      vertical-align: middle;
    }
  }
}
