@import '../../../styles/variables';

.ips {
  & .modal-alert {
    padding: 0;
  }
  &.ips-icon {
    &.ico-close {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.1s;
}
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}
