.tag-input {
  width: 100%;
  border: 0;
  cursor: text;
}

.tag-input-tag {
  float: left;
  margin-top: 4px;
  padding-right: 8px;
}

.tag-input-tag > span {
  cursor: pointer;
}

.tag-input-text {
  border: none;
  outline: none;
  line-height: 28px;
  background: none;
  width: 100%;
}
