@import '../../../styles/variables';
@import '~vue-tel-input/dist/css/sprite.css';

.vue-tel-input {
  height: 36px;
  border-radius: 3px;
  display: flex;
  border: 1px solid $gray-40 !important;
  text-align: left;
  padding-left: 0;
}
.vue-tel-input.invalid {
  border: 1px solid $danger !important;
}
.vue-tel-input.disabled,
.vue-tel-input.disabled .selection,
.vue-tel-input.disabled .dropdown,
.vue-tel-input.disabled .vti__dropdown,
.vue-tel-input.disabled input {
  cursor: no-drop;
  background-color: $gray-20 !important;
}
.vue-tel-input:focus-within {
  box-shadow: 0 0 0 3px rgba(209, 87, 4, 0.08) !important;
  border-color: $gray-40;
}
.vti__dropdown {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  padding: 7px;
  cursor: pointer;
}
.vti__dropdown.show {
  max-height: 300px;
  overflow: scroll;
}
.vti__dropdown.open,
.vti__dropdown:hover {
  background-color: #fff !important;
}
.vti__dropdown.disabled {
  cursor: no-drop;
  outline: none;
  background-color: #f3f3f3;
}
.vti__dropdown:hover {
  background-color: #f3f3f3;
}
.vti__selection {
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
.vti__selection .vti__country-code {
  color: #666;
}
.vti__flag-wrapper {
  display: inline-block;
  width: 30px;
  text-align: center;
}
.vti__flag {
  margin-right: 5px;
  margin-left: 5px;
}
.vti__dropdown-list {
  z-index: 1;
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  left: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 280px;
}
.vti__dropdown-list.below {
  top: 33px;
}
.vti__dropdown-list.above {
  top: auto;
  bottom: 100%;
}
.vti__dropdown-arrow {
  transform: scaleY(0.5);
  display: inline-block;
  color: #666;
}
.vti__dropdown-item {
  cursor: pointer;
  padding: 8px 8px 8px 36px;
}
.vti__dropdown-item.highlighted {
  background-color: #f3f3f3;
}
.vti__dropdown-item.last-preferred {
  border-bottom: 1px solid #cacaca;
}
.vti__dropdown-item .vti__flag {
  display: inline-block;
  margin-right: 5px;
}
.vti__input {
  border: none;
  border-radius: 0 2px 2px 0;
  width: 100%;
  outline: none;
  padding-left: 7px;
}
.vti__search_box {
  border: 1px solid #ccc;
  width: 94%;
  padding: 7px;
  margin: 2px 2px;
}
.vti__input::placeholder {
  color: $gray-50;
  opacity: 1;
}
