.btn.ips-btn {
  &.btn-block {
    width: 100%;
  }

  > .spinner {
    display: inline-block;
  }

  & > .ips-icon {
    vertical-align: middle;
  }

  &.btn-xss {
    & > .ips-icon {
      font-size: 0.75rem;
      line-height: 0.75rem;
    }
  }

  &.btn-xs {
    & > .ips-icon {
      font-size: 0.75rem;
      line-height: 0.75rem;
    }
  }

  &.btn-sm {
    & > .ips-icon {
      font-size: 0.75rem;
      line-height: 0.75rem;
    }
  }

  &.btn-md {
    & > .ips-icon {
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  &.btn-circle {
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    padding: 0;

    &.btn-circle-xxs {
      width: 0.75rem;
      height: 0.75rem;
    }

    &.btn-circle-xs {
      width: 1rem;
      height: 1rem;
    }

    &.btn-circle-sm {
      width: 1.75rem;
      height: 1.75rem;
    }

    &.btn-circle-md {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
