//############# Input / Select / Textarea ########################

.form-control[readonly] {
  background-color: transparent;
}

.form-group {
  &.row {
    & > label {
      &.has-validation {
        position: relative;
        top: -10px;
      }
    }
  }
  &.col {
    & > label {
      position: relative;
      left: -10px;
    }
  }
}
label,
.btn-label {
  & > i.ico-help {
    margin-left: 0.3em;
    cursor: pointer;
    color: $gray-200;
  }
}
.ips-form-field {
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  & > .ips-validation {
    width: 100%;
  }
}

.ipscape-input {
  &.ipscape-input-required {
    & > label:after {
      content: '*';
      color: $red;
    }
  }
}

*:focus {
  outline: none;
}

.no-outline {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  &:focus {
    outline: none;
  }
}

// ########## Switch #############
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-200;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px $orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//Checkbox
div.custom-control.custom-checkbox {
  margin-left: 0;
}

//Global Search input
input#global_search_input {
  margin-top: 12px;
  border: 0;
  border-bottom: 1px solid $gray-40;
  width: 440px;
  color: $gray-800;
  font-size: 14px;
  padding: 12px 32px 12px 12px;
  height: 20px;
}

input#global_search_input:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

// Specificity overrides
input[type='checkbox'],
input[type='radio'] {
  &.custom-control-input {
    z-index: 1;
  }
}
input[type='number'] {
  padding-right: 4px;
}

// remove the native browser clear button on all search fields
input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

// stop Chrome adding yellow background color to autocomplete fields
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px $white inset;
}
